<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="footer-brand">Portfolio Builder</div>
                <p class="footer-text">
                    Creating amazing experiences and innovative solutions for our customers
                    worldwide.
                </p>
                <div class="social-links">
                    <a href="https://twitter.com" class="social-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com" class="social-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com" class="social-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                    <a href="https://linkedin.com" class="social-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <div class="col-md-6 text-md-end">
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="/Signup">Signup</a></li>
                    <li><a href="/Login">Log in</a></li>
                    <li><a href="/Template">Templates</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright text-center">
            © 2024 PortfolioBuilder. All rights reserved.
        </div>
    </div>
</footer>

