<section class="nav-section">
    <div class="nav">
        <div class="logo">
            <a><h1>PortfolioBuilder</h1></a>
        </div>
        <div class="nav-links">
            <a href="#" class="norm-link">Templates</a>
            <a href="#" class="login-btn auth-btn" id="login">Log In</a>
            <a href="#" class="sign-btn auth-btn" id="signup">Sign Up</a>
        </div>
    </div>
</section>