<section class="nav-section">
    <div class="nav">
        <div class="logo">
            <a href="#"><h1 style="color: black">PortfolioBuilder</h1></a>
        </div>
        <div class="nav-links">
            <a href="/Template">Templates</a>
            <a href="/Login" class="login-btn auth-btn" id="login">Log In</a>
            <a href="/Signup" class="sign-btn auth-btn" id="signup">Sign Up</a>
        </div>
    </div>
</section>