.book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 1rem;
    flex-wrap: wrap;
}

.flip-book {
    width: 400px;
    height: 550px;
    position: relative;
    perspective: 1500px;
}

.flip {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center left;
    transform-style: preserve-3d;
    transition: 0.5s;
    color: #000;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;
    border: 2px solid lightgray;
}

.back {
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

img {
    width: 100%;
    margin-top: 15px;
}

#cover {
    width: 400px;
    height: 550px;
}

#p1 {
    z-index: 5;
}

#p2 {
    z-index: 4;
}

#p3 {
    z-index: 3;
}

#p4 {
    z-index: 2;
}

#p5 {
    z-index: 1;
}

#c1:checked ~ .flip-book #p1 {
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked ~ .flip-book #p2 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked ~ .flip-book #p3 {
    transform: rotateY(-180deg);
    z-index: 3;
}

#c4:checked ~ .flip-book #p4 {
    transform: rotateY(-180deg);
    z-index: 4;
}

#c5:checked ~ .flip-book #p5 {
    transform: rotateY(-180deg);
    z-index: 5;
}

.edit-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: grey;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #f9f9f9;
    box-shadow: -2px 0 5px grey;
    transition: right 0.3s ease-in-out;
    padding: 20px;
    z-index: 998;
}

    .sidebar.open {
        right: 0;
    }

    .sidebar h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .sidebar .upload-section {
        margin-bottom: 20px;
        text-align: left;
    }

        .sidebar .upload-section label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .sidebar .upload-section input {
            width: 100%;
        }

.next-btn,
.back-btn {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}
