.hero-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-container {
    position: relative;
}

.hero-text {
    color: white;
    position: absolute;
    top: 100px;
    left: 100px;
}

#hero-title {
    font-size: 4vw;
    width: 75%;
}

#hero-p {
    font-size: 1.5vw;
    width: 40%;
}

#hero-btn {
    max-width: 50%;
    padding-left: clamp(5px, 2vw, 30px);
    padding-right: clamp(5px, 2vw, 30px);
    padding-top: clamp(5px, 1vh, 20px);
    padding-bottom: clamp(5px, 1vh, 20px);
    border-width: 0;
    color: black;
    font-size: 1.6vw;
    border-radius: 6px;
    font-weight: 550;
    background-color: whitesmoke;
}
#subscription-title {
    text-align: center; /* Centers the text horizontally */
    margin: 1rem 0; /* Optional: Add spacing above and below */
    font-size: 2.25rem; /* Adjust the font size as needed */
    font-weight: 550; /* Optional: Make the title bold */
}
#subscription-p {
    font-size: 1.25rem; /* Adjust the font size as needed */
    color: dimgrey
}
.btn-group button{
    margin: 0.25rem 0;
    background-color: #343a40;
}

.subscription-tiers {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    height: 100%; /* Ensure the container has a height */
}

.subscription-cards {
    margin: 0.75rem 0;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if there are too many cards to fit in one row */
    gap: 1rem; /* Adds spacing between cards */
    justify-content: center; /* Centers the cards horizontally */
}
    .subscription-cards a {
        background-color: #343a40;
        border-color: #343a40;
    }
.card {
    flex: 1 1 calc(33.333% - 1rem); /* Makes each card take up 1/3 of the row, minus the gap */
    max-width: 18rem; /* Ensures cards don't exceed their intended width */
    box-sizing: border-box; /* Includes padding and border in the width calculation */
}
