.hero-container img {
    width: 100%;
}

.hero-container {
    position: relative;
}

.hero-text {
    color: white;
    position: absolute;
    top: 100px;
    left: 100px;
}

#hero-title {
    font-size: 4vw;
    width: 75%;
}

#hero-p {
    font-size: 1.5vw;
    width: 40%;
}

#hero-btn {

}