@page "/Login"

<div class="login-form">
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="psw" required>

        <label>
            <input type="checkbox" checked id="remember"> Remember me
        </label>

        <a href="/Wip">
            <button type="button">Log in</button>
        </a>
    </div>
</div>
