@page "/Login"

<form action="#" method="post" class="login-form">
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label>
            <input type="checkbox" checked name="remember"> Remember me
        </label>

        <button href ="/Example" type="submit">Login</button>
    </div>
</form>
