@page "/Projects"
<div class="title">
    <strong><h3>Choose A Template</h3></strong>
</div>
<div class="gallery">
    <a href="/Example">
    </a>
    <img src="Images/dummy1.png" title="TITLE 1">
    <img src="Images/dummy2.png" title="TITLE 2">
    <img src="Images/dummy3.png" title="TITLE 3">
    <img src="Images/dummy4.png" title="TITLE 4">
    <img src="Images/dummy5.png" title="TITLE 5">
</div>
