@page "/Wip"
<div class="title">
    <strong><h3>Your projects</h3></strong>
</div>
<div class="gallery">
    <a href="/Example">
    </a>
    <img src="Images/plus.png" title="TITLE 1">
    <img src="Images/plus.png" title="TITLE 2">
    <img src="Images/plus.png" title="TITLE 3">
    <img src="Images/plus.png" title="TITLE 4">
    <img src="Images/plus.png" title="TITLE 5">
</div>
